div{
    font-family: 'Open Sans';
}
h1 {
    font-family: 'Roboto';
    color: #004E98;
}

h2 {
    font-family: 'Open Sans';
    color: #004E98;
}

h3 {
    font-family: 'Open Sans';
    color: #004E98;
}

h4{
    font-family: 'Open Sans';
}

p {
    font-family: 'Roboto';
}